body{
    margin: 0;
    height: 100vh;
    background-color: black;
}

span{
   background: url(https://cdn4.iconfinder.com/data/icons/essentials-74/24/028_-_Heart-512.png);
    width: 100px;
    height: 100px;
    position: absolute;
    pointer-events: none;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}